# Ignore real datasets
*.csv
*.xlsx

# Allow sample CSV
!sample_input.csv

# Ignore config with real IDs
config.json

# Ignore logs
*.log
submissions_log.csv
logs/

# Ignore Python virtual environment
.venv/
__pycache__/
